@model CWSB.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Oh no!";
}

@{
    if (Model == null)
    {
        <div>
            <h2>Ooops! An error has occurred, but don't worry because our team will be notified and will fix it soon!</h2>
        </div>
    }
    else
    {
        ViewData["Title"] = Model.Title;

        <div>
            <h2>@Html.Raw(Model.Message)</h2>
        </div>

    }
}
